.home {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__header {
        .background-image {
            width: 100%;
        }

        .quiz-button {
            margin: auto;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &__container {
            position: absolute;
            top: 20vw;
            left: 15vw;

            &__title {
                font-size: 5vw;
            }

            .rulebook-link {
                padding-left: 5px;
                margin-top: 2vw;
                color: #455a64;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px;

        &__content {
            padding: 110px, auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;

            .expandable-rule-card {
                display: flex;
                flex-direction: column;
                margin: 20px 10vw;
                padding: 5vw 10vw;
                background-color: rgba(white, 0.4);

                .rule-text {
                    color: black;
                }

                .close-rulebook-button {
                    color: black;
                    margin: auto;
                    background-color: rgba(white, 0.5);
                }
            }
        }

        .image-credit {
            text-decoration: none;
            font-size: 10px;
            text-align: end;
        }
    }
}
